/* Elements / Button */

position: absolute;
width: 67px;
height: 28px;

border-radius: 0px 0px 0px 20px;


/* Color */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Colors / White / 100%  */
background: #FFFFFF;
border-radius: 7.56754px 0px 0px 7.56754px;


/* Text */

position: absolute;
height: 15px;
left: 10.45%;
right: 8.96%;
top: calc(50% - 15px/2 + 0.5px);

font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 11.3513px;
line-height: 15px;
/* or 133% */
text-align: center;

/* 7 */
color: #737FAD;


/* Group 512 */

position: absolute;
width: 227px;
height: 28px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Elements / Button */
button{
position: absolute;
width: 227px;
height: 28px;

border-radius: 0px 0px 0px 20px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Color */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

/* 2 */
background: #DCDFEA;
border-radius: 7.56754px 0px 0px 7.56754px;
transform: matrix(-1, 0, 0, 1, 0, 0);

}


text{
position: absolute;
height: 15px;
left: 8.96%;
right: 10.45%;
top: calc(50% - 15px/2 + 0.5px);

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 11.3513px;
line-height: 15px;
/* or 133% */
text-align: center;

/* 7 */
color: #737FAD;
}