

/* dark-8 */
dark-8 {
background: #626FA2;
}

dark-7{
background: #737FAD;
}

dark-6{
background: #858FB7;
}


dark-5{
background: #969FC1;
}


light-4{
background: #A8AFCC;
}

light-3{
background: #CBCFE0;
}

light-2{
background: #DCDFEA;
}

light-1{
background: #EEEFF5;
}


dark-9{
background: #505F98;
}


dark-10{
background: #222944;
}