/* Group 569 */

position: absolute;
width: 22px;
height: 22px;
left: 596px;
top: 118px;



/* Group 534 */

position: absolute;
width: 22px;
height: 22px;
left: 596px;
top: 118px;



/* Group 533 */

position: absolute;
width: 22px;
height: 22px;
left: 596px;
top: 118px;



/* Rectangle 238 */

position: absolute;
width: 22px;
height: 22px;
left: 596px;
top: 118px;

/* 6 */
background: #858FB7;
border-radius: 6.6px;


/* icon / outlined / other / phone / phone */

position: absolute;
width: 13px;
height: 13px;
left: 601px;
top: 123px;



/* Vector */

position: absolute;
left: 8.8%;
right: 8.33%;
top: 8.33%;
bottom: 8.63%;

/* 0 */
border: 1.08333px solid #EDF2FF;
